# Environment Variables
.env

# Byte-compiled / optimized/ DLL files
__pycache__/
.mypy_cache/

# IDE settings (optional, depending on your setup)
.idea/
.vscode/

allure-results/

# Poetry Lockfile
poetry.lock

# Logs
*.log
.DS_Store
