# Environment Variables
.env

# Byte-compiled / optimized/ DLL files
__pycache__/
.mypy_cache/

# IDE settings (optional, depending on your setup)
.idea/
.vscode/

reports/

# Poetry Lockfile
poetry.lock

# Logs
*.log
reports/failed_scenarios.txt

# Jenkings CI/CD tools
target/
build/
